* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*El body no debe contener el tamaño de la página*/
body {
    background-image: url(imagen/fondomain.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    /*Display flex para que el contenido se pueda reorganizar de foma flexible
    y flex direction column para que el contenido se organice en columna*/
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

/*En este caso el main es el que contiene todo el contenido, por eso aquí sí
se pone el máximo de tamaño de la página*/
main {
    max-width: 1080px;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #011b4e;
    max-width: 1080px;
    width: 100%;
}

header {
    background-color: #011b4e;
    padding: 2%;
    text-align: center;
}

nav {
    justify-content: space-around;
    background-color: #8b4c76;
    display: flex;
    padding: 1%;
}

nav a {
    color: white;
    text-decoration: none;
    position: relative;
}

/*Esta es la forma de hacer un hover con subrayado gradual, si no pones el height
la línea no se ve, es para darle el grosor*/
nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    /*Con transition le dices el tiempo que va  tardar en hacer el efecto*/
    transition: all 0.3s ease;
    background-color: white;
}

/*Aquí le dices que cuando pongas el cursor encima la línea suba al 100%*/
nav a:hover::after {
    width: 100%;
}

section {
    background: linear-gradient(45deg, #8b4c76, #011b4e);
    margin-bottom: 2%;
}

article {
    padding: 2%;
    ;
}

.imgporfolio {
    display: grid;
    place-items: center;
    position: relative;
    padding: 1%;
}

.imgporfolio img {

    width: 20%;
}

.overlay {
    position: absolute;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #8b4c76;
    color: white;
    display: flex;
    justify-content: center;
    bottom: 0;
    padding: 5px;
}

.imgporfolio:hover .overlay {
    opacity: 1;
}


.article-line {
    display: flex;
    justify-content: space-around;
    background-color: #011b4e;
}

.proyect {
    margin-inline: 5%;
    margin-block: 3%;
    background-color: grey;
    border-radius: 15px;
    padding: 2rem;
}

.proyectimg {
    width: 25%;
    width: 20vw;
}

.contenedortexto {
    display: flex;
    justify-content: space-between;
}

.contenedortexto div {
    width: 60vw;
}

.divicono {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-inline: 15%;
    position: relative;
    cursor: pointer;
}

.divicono div {
    background-color: white;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    transition: 0.3s ease-in-out;
    margin-inline: 1rem;
}

.iconos {
    width: 70%;
    height: 70%;
    align-self: center;
}

/*Con transform translateY indicas cuantos pixeles se va a mover la imagen y en qué dirección*/
.divicono div:hover,
.redes div:hover {
    transform: translateY(-15px);
}

.herramientas {
    padding-left: 2rem;
}

table {
    background-color: wheat;
    color: black;
    width: 60%;
    justify-self: center;
    table-layout: auto;
    padding: 1%;
    border-radius: 5px;
}

table img {
    width: 20%;
}

th:nth-child(1),
td:nth-child(1) {
    width: 80%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 20%;
    text-align: center;
}

td {
    border-bottom: 1px solid rgb(248, 149, 149);
}

td+td {
    border-left: 1px solid rgb(248, 149, 149);
}

.redes {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

.redes div {
    transition: 0.3s ease-in-out;
}

ul ul {
    padding-left: 5%;
    list-style: circle;
}

h1 {
    text-align: center;
}

@media (max-width: 767px) {
    .contenedortexto {
        display: block;
    }

    .contenedortexto img {
        width: 80%;
        height: 80%;
        margin-top: 3%;
    }

    .divicono div {
        width: 4rem;
        height: 2.5rem;

    }
}