* {
    box-sizing: border-box;
}

header {
    background-color: #011b4e;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;

}

nav {
    background-color: #8b4c76;
    width: 90%;
    margin-left: 5%;
    justify-content: space-around;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-wrap: wrap;
}

/*el padding del nav va en la etiqueta a para que cuando pongs el hover ocupe el color todo el espacio*/
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    position: relative;
}

/* crea la línea antes de pasar el ratón dejandola invisibole*/
nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: width 0.3s ease;
}

/* hace crecer el hover al 100%*/
nav a:hover::after {
    width: 100%;
}

nav a:hover {
    justify-content: space-between;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    background-image: url(imagen/fondomain.jpg);
    background-size: 80%;
    background-attachment: fixed;
    max-width: 750px;
}

h1 {
    text-align: center;
    color: white;
}

section {

    border-radius: 20px;
    margin-block: 10px;
    padding: 20px;
    width: 100%;
    background: linear-gradient(45deg, #8b4c76, #011b4e);

}

.imgporfolio {
    display: grid;
    position: relative;
    place-items: center;
}

.foto {
    width: 30%;
    display: block;
}

.overlay {
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    bottom: 5px;
    background-color: #aa5277;
    color: white;
    padding: 8px;
    width: 25%;

}

.imgporfolio:hover .overlay {
    opacity: 1;
}

.fondoarticle {
    color: white;
    border-radius: 10px;
    padding: 1%;
    margin-block: 2%;
}

.proyect {
    display: flex;
}

.proyectoimagen {
    max-width: 30%;
    height: auto;
    float: right;
    vertical-align: bottom;
    margin-inline-start: auto;
    margin-bottom: 2%;
}

li a {
    font-weight: bold;
    color: rgb(142, 178, 255);
    text-decoration: none;
}

.divicono {
    display: flex;
    flex: 1;
    text-align: center;
}

.spaniconos {
    background-color: white;
    justify-content: space-between;
    margin-inline: 5%;
    color: black;
    border-radius: 15px;
    padding: 1%;
}

.iconos {
    width: 25%;
    vertical-align: text-bottom;
}

.estilolista {
    list-style: inside;
}

.postit {

    background-size: 100% 100%;
    background-repeat: no-repeat;
}

table {
    background-color: wheat;
    border-collapse: collapse;
    width: 70%;
    justify-self: center;
    color: black;
    table-layout: auto;
    border-radius: 10px;
}

th {
    border-bottom: 2px solid rgb(226, 95, 95);
    padding: 5px;
}

td {
    border-top: 1px solid rgb(230, 116, 116);
    padding: 2px;
    ;
}

th+th {
    border-left: 2px solid rgb(226, 95, 95);
}

td+td {
    border-left: 1px solid rgb(226, 95, 95);
}

.check {
    width: 20%;
}

.checkcol {
    width: 1%;
    text-align: center;
    vertical-align: middle;
}


.contact {
    text-align: center;
    color: white;
}

.formulario {
    margin-block: 20px;
    text-align: center;
}

.textomail {
    width: 50%;
    height: 100px;
}

.button {
    text-align: center;
}

.button input {
    background-color: #011b4e;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    padding: 5px;
}

.button input:hover {
    cursor: pointer;
    background-color: #aa5277;
    transition: 0.3s;


}



.iconocontacta {
    width: 4%;
}

.github {
    width: 5%;
}

footer {
    background-color: #011b4e;
    color: white;
    text-align: center;
    padding-block: 2%;
}

@media (max-width: 480px) {
    .proyectoimagen {
        width: 100%;
    }
}